<% include nav %>

<div id="toEmpty">
  <div class="center grey-text text-lighten-1">
    <h5><%= specialization.term %></h5>
  </div>

  <div class="row">
    <div class="col s12 m6 l4 offset-l2">
      <div class="spacer">
      </div>
        <div class="carousel carousel-slider" data-indicators="true">
            <img class="carousel-item carouselImg" src="<%= user.profileImg %>">
        <%  if(user.img1){ %>
            <img class="carousel-item carouselImg" src="<%= user.img1 %>">
        <%  } %>
        <%  if(user.img2){ %>
            <img class="carousel-item carouselImg" src="<%= user.img2 %>">
        <%  } %>
        <%  if(user.img3){ %>
            <img class="carousel-item carouselImg" src="<%= user.img3 %>">
        <%  } %>
        </div>
    </div>

    <div class="col s12 m6 l4">

      <div class="col s12">
        <h5 class="center">
          <%= user.firstName %>
        </h5>
      </div>
      <div class="col s12 center">
        <p>
          <i><%= user.bio %></i>
          <%  if (!user.bio) { %>
            <%= user.firstName %> left the bio empty <br/> (╯°□°)╯︵ ┻━┻
          <%  } %>
        </p>
        <div class="col s10 offset-s1 blue-grey lighten-5">
          <p>
            Skills:<br/><%= user.skills %>
          <%  if (!user.skills) { %>
            <%= user.firstName %> seems to have decided to leave this empty <br/> ¯\_(ツ)_/¯
          <%  } %>

          </p>
        </div>

        <div class="spacer col s12">
        </div>
        <div class="col s10 offset-s1 blue-grey lighten-1 white-text profileContact">
          <div class="spacer col s12">
          </div>
          <p>
            Accept connection request from <%= user.firstName %> for contact details.
          </p>
        </div>

      </div>
      <div class="spacer col s12">
      </div>
    <div class="center">
      <div class="col s12 center">
        <button value="<%= user.id %>" class="accept2 z-depth-1 acceptReject waves-effect" type="button" name="button">Accept</button>
        <button value="<%= user.id %>" class="reject2 z-depth-1 acceptReject waves-effect" type="button" name="button">Reject</button>
      </div>

    </div>

    <div class="spacer col s12">

    </div>

    </div>
  </div>
</div>
