<% include nav %>
<div class="row">

  <div class="col s12 m8 offset-s0 offset-m2">
    <h2>Profile</h2>

    <% console.log("profileImg:",currentUser.profileImg) %>
  <%  if (currentUser.profileImg == null) { %>
      <img class="profileImg" src="/img/profile-placeholder.png" alt="" />
  <%  } else { %>
      <img class="profileImg" src="<%= currentUser.profileImg %>" alt="" />
  <%  } %>

    <form action="/user/profile/upload" id="profileImgForm" method="POST" enctype="multipart/form-data">
      <div class="file-field input-field">
       <div class="btn">
         <span>File</span>
         <input type="file" name="avatar">
       </div>
       <div class="file-path-wrapper">
         <input class="file-path validate" type="text" placeholder="Upload one or more files">
       </div>
     </div>
    </form>

    <form action="/user/profile" method="POST" enctype="multipart/form-data">
      <input id="authEmail" class="form-control" type="hidden" name="email" value="<%- currentUser.email %>">
      <div class="col s6">
        <label for="authFirstName">First Name</label>
        <input id="authFirstName" class="form-control" type="text" name="firstName" value="<%- currentUser.firstName %>">
      </div>

      <div class="col s6">
        <label for="authLastName">Last Name</label>
        <input id="authLastName" class="form-control" type="text" name="lastName" value="<%- currentUser.lastName %>">
      </div>

      <div class="col s6">
        <label for="authEmail">Email</label>
        <input disabled id="authEmail" class="form-control" type="text" name="email" value="<%- currentUser.email %>">
      </div>

      <div class="  col s6">
        <label for="authPhone">Phone</label>
        <input id="authPhone" class="form-control" type="text" name="phone" value="<%- currentUser.phone %>">
      </div>

      <div class=" col s12">
        <select id="focusDropdown" name="focus">
          <% for (var i = 0 ; i < focus.length; i++) { %>
            <% if (focus[i] === currentUser.focus) { %>
              <option selected value="<% focus[i] %>"> <%= focus[i] %></option>
            <% } else {%>
              <option value="<% focus[i] %>"> <%= focus[i] %></option>
            <% } %>
          <% } %>
      </select>
    </div>

      <div class="  col s12">
        <label for="authBio">Bio</label>
        <input id="authBio" class="form-control" type="text" name="bio" value="<%- currentUser.bio %>">
      </div>

      <div class="  col s12" id="editSkills">
        <label for="authSkills">Skills</label>
        <input id="authSkills" class="form-control editSkillsInput" type="text" name="skills" value="<%- currentUser.skills %>">
      </div>

      <div class="  col s12">
        <label for="authLink">Link</label>
        <input id="authLink" class="form-control" type="text" name="link" value="<%- currentUser.link %>">
      </div>

      <input class="waves-effect waves-light btn" type="submit" value="Modify">
    </form>
  </div>
</div>
